@import "tailwindcss";

@theme{
  --font-poppins: "Poppins", sans-serif;
}
:root{
  font-family:"Poppins";
}

/* Custom Scrollbar for the Options List */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Thin width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* No background for the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
  border-radius: 20px; /* Rounded pill shape */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Brighter when you hover over it */
}